@import '../../styles/mixins/responsive-breakpoints.scss';

@mixin button {
    cursor: pointer;
    font-size: 0.8rem;
    margin: 0.1rem;
    border-radius: 15px;
    padding: 0.2rem 0.3rem;
    box-shadow: 0 3px 2.5px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    &:active {
        transform: translateY(1.5px);
        box-shadow: 0 2px 2.5px 0 rgba(0, 0, 0, 0.2);
    }
    @include respond(tab-land) {
        font-size: 1.4rem
    }
    @include respond(phone) {
        font-size: 1rem
    }
}

@mixin button--add {
    background-color: #bbf7a3;
    border: 0px;
    padding: 0.3rem 0.7rem;
    &:hover {
        background-color: #a9df94;
    }
}

@mixin button--delete {
    background-color: red;
    border: 3px solid red;
    &:hover {
        background-color: rgb(233, 0, 0);
        border: 3px solid rgb(233, 0, 0);
    }
}

@mixin button--edit {
    background-color: orange;
    border: 3px solid orange;
    &:hover {
        background-color: rgb(231, 151, 1);
        border: 3px solid rgb(231, 151, 1);
    }
}

@mixin button--add-exercise {
    cursor: pointer;
    padding: 0.3rem 0.7rem;
    border: 3px solid #bbf7a3;
    border-radius: 20px;
    background-color: #bbf7a3;
    box-shadow: 0 3px 2.5px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    &:active {
        transform: translateY(1.5px);
        box-shadow: 0 1.5px 2.5px 0 rgba(0, 0, 0, 0.2);
    }
    &:hover {
        background-color: #aae593;
        border: 3px solid #aae593;
    }
    @include respond(tab) {
        font-size: 1.4rem
    }
}
